@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@import "highlight.js/styles/github.css";
@import "highlight.js/styles/github-dark.css" (prefers-color-scheme: dark);
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Mulish", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.text-outline {
  color: #000;
  -webkit-text-stroke: 2px #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.link-underline-animation {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.link-underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.link-underline-animation:hover::after {
  transform: scaleX(1);
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}